      <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                    <!-- Profile form Input fields -->
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create Profile</p>
      
                      <form class="mx-1 mx-md-4 new-profile-form" id="new-profile-form">
      

                      <!-- First Name input field -->
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="firstname" class="form-control" />
                            <label class="form-label" for="form3Example1c">First Name</label>
                          </div>
                        </div> 

                      <!-- Last Name input -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <section class="form-outline flex-fill mb-0">
                              <input type="text" id="lastname" class="form-control" />
                              <label class="form-label" for="form3Example1c">Last Name</label>
                            </section>
                          </div>

                      <!-- Link input, Facebook -->
                          <div class="d-flex flex-row align-items-center mb-4">
<<<<<<< HEAD
                            <i class=" fab fa-facebook fa-lg me-3 "></i>
                            <form class="form-outline flex-fill mb-0">
=======
                            <i class=" fab fa-facebook fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
>>>>>>> 60585515b4a1653b1384d6da3c8d011d7a56b88c
                                <input type="url" id="facebook" class="form-control" />
                                <label class="form-label" for="typeURL">URL input</label>
                            </form>
                          </div>

                      <!-- Link Input, Twitter -->
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class=" fab fa-twitter fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="url" id="twitter" class="form-control" />
                                <label class="form-label" for="typeURL">URL input</label>
                            </div>
                          </div>

                      <!-- Link Input, Instagram -->
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class=" fab fa-instagram fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="url" id="instagram" class="form-control" />
                                <label class="form-label" for="typeURL">URL input</label>
                            </div>
                          </div>

                      <!-- Link input, Youtube -->
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class=" fab fa-youtube fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="url" id="youtube" class="form-control" />
                                <label class="form-label" for="typeURL">URL input</label>
                            </div>
                          </div>

                      <!-- Link Input, LinkedIn -->
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class=" fab fa-linkedin fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="url" id="linkedin" class="form-control" />
                                <label class="form-label" for="typeURL">URL input</label>
                            </div>
                          </div>

                      <!-- Link Input, GitHub -->
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class=" fab fa-github fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="url" id="github" class="form-control" />
                                <label class="form-label" for="typeURL">URL input</label>
                            </div>
                          </div>

                        <!-- Form input, Brief Profile Bio, "Brief Bio, Brief Intro, or Brief Personal Quote" -->
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <textarea type="text" id="description" class="form-control" /></textarea>
                              <label class="form-label" for="form3Example1c">Description</label>
                            </div>
                          </div>
      
                        <!-- Register Button -->
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" class="btn btn-primary btn-lg" style="background-color: #DDAF03;">Register</button>
                        </div>
      
                      </form>
      
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
      
                      <img src="/image/World Emoji Day-cuate.png" class="img-fluid" alt="Sample image">
      
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="/javascript/create-profile.js"></script>

